.wrapper {
  padding: 60px;
  max-width: 1000px;
}

.fullWidthImage {
  width: 100%;
  height: auto;
}

.title {
  font-size: clamp(1rem, 0.5rem + 2.5vw, 3rem);
}

.sectionTitle {
  font-size: clamp(0.75rem, 0.5rem + 2vw, 2.5rem);
}

.contentText {
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.25rem);
}

.navbarWrapper {
  position: fixed;
  bottom: 0;

  margin: 12px;
  width: calc(100dvw - 24px);

  border-radius: 24px;

  background-color: #2e2e2e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  @media (min-width: 768px) {
    width: fit-content;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    bottom: unset;
  }
}

.navbar {
  display: flex;
  list-style: none;
  overflow-x: scroll;

  gap: 24px;
  margin: 0;
  padding: 0;
}

.navbarActiveItem {
  a {
    &:link,
    &:visited {
      color: #f1ff85 !important;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.navbarItem {
  position: relative;
  padding: 24px 12px;

  a {
    white-space: nowrap;
    &:link,
    &:visited {
      color: #f0f1e9;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.intro {
  margin-top: 48px;
  margin-bottom: 48px;
  padding-bottom: 48px;

  column-count: 2;
  gap: 48px;

  line-height: 1.5;
  border-bottom: 1px solid black;

  p {
    &:first-child {
      margin-top: 0;
    }
  }
}

.image {
  float: right;
  max-width: 50%;

  margin-left: 48px;
  margin-bottom: 48px;
}

.fullWidthIntro {
  margin-bottom: 48px;
  padding-bottom: 48px;

  line-height: 1.5;

  border-bottom: 1px solid black;
}
